body {
    height: 100%;
    position: relative;
}

.logo {
    height: 3em;
    margin-top: 1em;
    margin-left: 0.5em;
    padding-bottom:0.4em 

}

.nav-header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav li {
    color: #000000 !important;
    font-family: sans-serif;
    font-size: 1.3em;
    margin-right: 2em;
    padding: 0.2em 0;
    margin-left: 0.6em
}
.nav li:hover{
    border-bottom: 1px solid black;
    padding-bottom: 0.15em;
}

.start {
    padding-top: 7em 
}
.jumbotron {
    background-color: white;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.jumbotron h1 {
    text-align: center;
    color: white;
    font-size: 3em;

}

.navbar-form {
    margin-top: 0.8em;
}

.body-image {
    height: 12em;
    width: 14em;
}

.java-image {
    padding-left: 1em;
}

.col-md-6 {
    text-align: center;
    margin-top: 3em;
    padding-bottom: 3em;
}

.icon-right {
    border-right: 1px dotted;
}

.col-md-6 p {
    max-width: 20em;
    align-content: center;
    margin: auto;
    margin-bottom: 2em;
}

.java-image {
 margin-left: 1.2em;   
}
.link-btn {
    color: white;
    background: orange;
    border: none;
}

.link-btn:hover {
    color: black;
    background: white;
}

.video-player {
    text-align: center;
}

.blog-post {
    border-left: 2px dotted;
    border-right: 2px dotted;
    margin-top: 3em;
    margin-bottom: 3em;
}

.divider {
    border-top: 1px dotted;
    margin-top: 4em
}

.intro-video-container {
    margin-top: 3em;
    text-align: center
}

.footer {
    margin-top: 1em;
    height: contain;
    text-align: center;
    font-family: monospace;
    background-color: lightgrey;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-image {
    height: 4em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.footer p {
    margin: 1em;
}

.chapter-header {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-top: 2em;
    margin-bottom: 2em;
}

.chapter-header h2 {
    color: #000000;
    margin-left: 1em;
}

.chapter-header h4 {
    margin-left: 2em;
}

.chapter-content {
    margin-left: 4em;
    margin-right: 4em;
}

.chapter-content a {
    color: #F7931E;
    cursor: pointer;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.chapter-content a:hover {
    color: #F7931E;
    cursor: pointer;
}

.video-section {
    margin-top: 0.7em;
}

.video-section img {
    height: 7em;
    opacity: 0.8;
    border: 1px solid grey;
}

.video-section img:hover {
    opacity: 1;
    border: 2px solid black;
}

.video-section a:hover {
    cursor: pointer;
}

.border-split {
    border: 1px dotted grey;
    margin-top: 1em;
}

.page-changer {
    margin-top: 1em; 
    text-align: center;
    width: 20em;
}

.page-changer a { 
    color: black;
}

.ending-pad {
    margin-bottom: 10em;
}

.dropdown-menu li a:hover {
    background: #FFFFFF;
    color: #F7931E;
}

.dropdown-menu li {
    transition: font-size 0.15s linear 0s;
}

.dropdown-menu li:hover {
    background: #FFFFFF;
    color: #F7931E;
    border-left: 3px solid black;
    border-bottom: none;
    font-size: 1.5em;
}

@media (min-width: 800px) {
    
    .dropdown .dropdown-menu {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    }

    .dropdown:hover .dropdown-menu {
        max-height: 300px;
        opacity: 1;
    }
}